html, body {height: 100%; }

body {
	margin: 0;
	padding: 0;
	background: url('../images/flower_girl.jpg') no-repeat center top;
	background-size: cover;
}

.container {
	width: 940px;
	margin: 0 auto;
}

h1 {
	font-size: 42px;
	margin-top: 21px;
	margin-bottom: 21px;
	line-height: 1;
}

.row::before, .row::after {content: ''; display: table; } .row::after {clear: both; } .row :last-child {margin-right: 0; }

p {
	float: left;
	width: 300px;
	margin-right: 20px;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 21px;
}